*.suo
*.user
*.bak
*.exe
*.sln

packages/
bin/
obj/
Debug/
Release/
bak/
log/
!*.dll

v_packageitem.cs
.vs/EZP.Crm/v15/sqlite3/storage.ide
.vs/config/applicationhost.config 
.vs/EZP.Crm/v15/Server/sqlite3/db.lock
.vs/EZP.Crm/v15/Server/sqlite3/storage.ide
.vs/EZP.Crm/v15/Server/sqlite3/storage.ide-shm
.vs/EZP.Crm/v15/Server/sqlite3/storage.ide-wal
